In [1]:
import pandas as pd

In [2]:
pd.DataFrame([[11, 21, 31], [12, 22, 32], [31, 32, 33]],
                  index=['one', 'two', 'three'], columns=['a', 'b', 'c'])

        a   b   c
one    11  21  31
two    12  22  32
three  31  32  33

In [3]:
df = pd.DataFrame([[11, 21, 31], [12, 22, 32], [31, 32, 33]],
                  index=['one', 'two', 'three'], columns=['a', 'b', 'c'])
print(df)

        a   b   c
one    11  21  31
two    12  22  32
three  31  32  33

#If you do not need to write index (row name), columns (column name), the argument index, columns is False.
df.to_excel('nonexisting.xlsx', index=False, header=False)

Write multiple DataFrames to Excel files

In [4]:
#Excelwrite
df2 = df[['a','b']]
df2

        a   b
one    11  21
two    12  22
three  31  32

In [5]:
#We donâ€™t need to call writer.save(), writer.close() within the blocks.
with pd.ExcelWriter('ipl3.xlsx') as writer:
    df.to_excel(writer, sheet_name='ipl2')
    df2.to_excel(writer, sheet_name='0')

In [6]:
Data= pd.read_excel('ipl.xlsx')
Data

    a   b   c
0  11  21  31
1  12  22  32
2  31  32  33

In [7]:

w = pd.ExcelWriter("new.xlsx")
df.to_excel(w, sheet_name='sheet1')

In [10]:

# Writing the DataFrame to an Excel file
df = pd.DataFrame("ipl.xlsx")  # Replace ... with your data
w = pd.ExcelWriter("new.xlsx")
df.to_excel(w, sheet_name='sheet1')
w.save()

# Reading the Excel file with the specified engine
dh = pd.read_excel('new.xlsx', engine='openpyxl')

ValueError: DataFrame constructor not properly called!